.container {
    width: 600px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(34, 60, 80, 0.2);
    position: relative;
    background-color: #fff;
}

.header {
    height: 60px;
    display: flex;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    justify-content: space-between;
    flex-direction: row;
    gap: 1px;
}

.header_item {
    cursor: pointer;
    height: 100%;
    width: 33.33%;
    background-color: rgb(47, 47, 47);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 700;
    gap: 8px;
    opacity: 0.2;
}

.header_item_full {
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.header_item:nth-child(1) {
    border-top-left-radius: 20px;
}

.header_item:nth-child(3) {
    border-top-right-radius: 20px;
}

.number_tag {
    background-color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color: rgb(51, 51, 51);
    display: flex;
    justify-content: center;
    align-items: center;
}

.active_header {
    opacity: 1;
}

.form_body {
    padding: 10px 80px;
    color: rgb(61, 61, 61);
}

.heading_text {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    line-height: 26px;
}

.checkbox_inputs {
    display: 'flex';
    flex-direction: 'column';
    align-items: flex-start;
}

.checkbox_inputs > * {
    margin-bottom: 6px;
}

.input_item {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 8px;
    box-sizing: border-box;
}

.input_item > span {
    font-weight: 500;
    color: #3F444A;
}

.input_item > input, .input_item .customSelectWrapper > select, .custom_file_input, .passwordInputWrapper > input {
    border: 1.5px solid rgb(198, 198, 198);
    border-radius: 8px;
    padding: 6px 10px;
    font-size: 18px;
    color: #515255;
    cursor: pointer;
    font-family: 'Nunito_Sans_Light';
    width: 100%;
}

.input_item .customSelectWrapper > select {
    appearance: none; 
}
.customSelectWrapper {
    position: relative;
}

.customSelectWrapper::after {
    content: '';
    width: 14px;
    height: 14px;
    background-image: url('/select_arrow.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    right: 16px;
    top: 12px;
}

.input_item > input::placeholder {
    color: #94A3B8;
    font-family: 'Nunito_Sans_Light';
}

.custom_file_input {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    color: #94A3B8;
}

.input_item input[type="file"] {
    display: none;
}

.input_item > input:focus {
    outline: none;
}

.checkbox_input_item {
    display: flex;
    gap: 10px;
    margin-top: 24px;
    justify-content: center;
    color: rgb(92, 92, 92);
}

.next_button_block {
    margin-top: 24px;
    margin-bottom: 24px;
    text-align: center;
}

.next_button {
    background-color: #04cf91;
    color: #fff;
    width: 40%;
    height: 40px;
    border-radius: 30px;
    border: none;
    font-size: 16px;
}

.settings_image_1, .settings_image_2 {
    position: absolute;
    z-index: -1;
}

.settings_image_1 {
    top: 0;
    left: -240px;
}

.settings_image_2 {
    bottom: 0;
    right: -240px;
}

.link {
    color: #00CF91;
    font-size: 14px;
}

.checkbox_item {
    position: relative;
    margin-left: 26px;
}

.checkbox_item::before {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    border: 0.5px solid #94A3B8;
    border-radius: 6px;
    background-color: #fff;
    left: -10px;
    top: -6px;
    cursor: pointer;
}

.checkbox_item:checked::before {
    background-image: url(/Checkbox.png);
    background-position: center;
    background-size: cover;
}

.radio_item, .radio_item_checked {
    position: relative;
    margin-left: 46px;
}

.radio_item::before, .radio_item_checked::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border: 0.5px solid #94A3B8;
    border-radius: 50%;
    background-color: #fff;
    left: -1px;
    bottom: -3px;
    cursor: pointer;
}

.radio_item_checked::before {
    background-image: url(/on.png);
    background-position: center;
    background-size: cover;
}

.passwordInputWrapper {
    position: relative;
}

.eye {
    content: '';
    position: absolute;
    width: 40px;
    height: 30px;
    border: 0.5px solid transparent;
    background-image: url(/eye.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;
    right: 4px;
    bottom: 5px;
    cursor: pointer;
    z-index: 500;
}

@media screen and (max-width: 760px) {
    .settings_image_1, .settings_image_2 {
        display: none;
    }
    
    .container {
        width: 90%;
        box-shadow: none;
    }

    .header_item {
        font-size: 20px;
    }

    .form_body {
        padding: 10px 10%;
    }

    .header {
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 1px;
        border-radius: 20px 20px 0 0;
    }

    .header_item {
        cursor: pointer;
        height: 40px;
        width: 100%;
        background-color: rgb(47, 47, 47);
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        font-weight: 700;
        gap: 8px;
        opacity: 0.2;
    }

    .header_item:nth-child(1) {
        border-top-left-radius: 20;
    }
    
    .header_item:nth-child(3) {
        border-top-right-radius: 20;
    }
}