.container {
    border-radius: 20px;
    padding: 0 25px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.textArea {
    border-radius: 50px;
    padding: 15px;
    width: 100%;
    resize: none;
    font-size: 16px;
    font-family: 'Nunito_Sans';
    border: 1px solid #263238;
}

.customSelect {
    appearance: none; 
}

.customSelectWrapper {
    position: relative;
    width: 100%;
}

.customSelectWrapper::after {
    content: '';
    width: 14px;
    height: 14px;
    background-image: url('/select_arrow.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    right: 16px;
    top: 20px;
}

.dropdowns > * {
    width: 25%;
}

.table {
    width: 100%;
    border-radius: 20px;
    border-collapse: collapse;
    box-shadow: 0px 4px 19px 0px rgba(117, 117, 117, 0.16);
}

.table th {
    background-color: #3F444A;
    color: #fff;
}

.table th:first-child {
    border-top-left-radius: 20px;
}

.table th:last-child {
    border-top-right-radius: 20px;
}

.table th {
    padding: 12px 0;
}

.select {
    font-size: 16px;
    border: 1px solid transparent;
}

.select:focus {
    outline: none;
}

.button {
    background-color: #03cf91;
    height: 50px;
    color: #fff;
    border: none;
    border-radius: 30px;
    padding: 0 26px;
    font-family: 'Nunito_Sans';
    font-size: 16px;
}

.dropdowns > * {
    width: 24%;
}

.tableHeadRow > th {
    text-align: left;
    padding: 14px 20px;
}

.tableRow {
    border-top: 1px solid #DCE7FE;
    cursor: pointer;
}

.tableRow:hover {
    background-color: #f2f2f2;
}

.tableRowCell {
    padding: 14px;
    font-size: 14px;
    font-family: 'Nunito_Sans';
    font-weight: 400;
    color: #3F444A;
}

.center {
    text-align: center;
}