.table {
    font-size: 12px;
    border-collapse: collapse;
    font-weight: 600;
    border: 1px solid rgb(179, 179, 179);
}

.header > th {
    text-align: left;
    padding: 20px 6px;
    background-color: #009879;
    color: #fff;
}

.dataRow > td {
    text-align: left;
    border: 1px solid rgb(206, 206, 206);
    padding: 6px;
}

.dataRow:nth-child(even) {
    background-color: #f3f3f3;
}

.dataRow:hover {
    color: #109371;
}