.bannerContainer {
    padding: 0 15%;
    box-sizing: border-box;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-family: 'Nunito_Sans';
    color: #00CF91;
    background-color: #DCFEE3;
    margin: 30px 0;
}

.bannerButton {
    background-color: #03cf91;
    height: 50px;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 30px;
    padding: 0 26px;
    font-family: 'Nunito_Sans';
    font-size: 20px;
}

.heading {
    text-align: center;
    font-family: 'Nunito_Sans_Bold';
    font-size: 42px;
    margin-top: 70px;
    margin-bottom: 42px;
}

.info_container {
    border-radius: 30px;
    box-shadow: 0px 4px 19px 0px rgba(117, 117, 117, 0.16);
    padding: 36px 60px;
}

.header {
    justify-content: space-between;
    margin-bottom: 50px;
}

.userInfo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.userAvatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.userName {
    font-size: 18px;
}

.favouriteButton {
    width: 28px;
    height: 28px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.title {
    font-size: 30px;
    color: #3F444A;
    font-weight: 600;
    font-family: 'Nunito_Sans_Bold';
}

.popupBack {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(63, 68, 74, 0.8);
    backdrop-filter: blur(5px);
    overflow: hidden;
}

.popup {
    position: absolute;
    width: 660px;
    height: 280px;
    top: calc(50% - 140px);
    right: calc(50% - 330px);
    background: rgba(255, 255, 255);
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
}

.customDateInputWrapper {
    position: relative;
}

.customDateInput::-webkit-calendar-picker-indicator {
    background: none;
}

.customDateInputWrapper::after {
    content: '';
    width: 18px;
    height: 18px;
    display: block;
    position: absolute;
    background-color: #fff;
    background-image: url('/date_icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    right: 10px;
    top: 10px;
}

.textArea {
    border-radius: 8px;
    padding: 6px;
    width: 100%;
    resize: none;
    font-size: 16px;
    font-family: 'Nunito_Sans';
    border: 1px solid #94A3B8;
    color: #94A3B8;
}

@media screen and (max-width: 760px) {
    .info_container {
        padding: 36px 10%;
    }
}