@font-face {
  font-family: "Nunito_Sans"; 
  src: url("../public/fonts/Nunito_Sans/static/NunitoSans_10pt-Regular.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal;
}

@font-face {
  font-family: "Nunito_Sans_Light"; 
  src: url("../public/fonts/Nunito_Sans/static/NunitoSans_10pt-Light.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito_Sans';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
