.body {
  padding: 0 15%;
  box-sizing: border-box;
}

.top_banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
}

.top_banner > .left_side {
  color: #3f444b;
}

.left_side > .button {
  background-color: #03cf91;
  width: 85%;
  height: 50px;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 30px;
  font-size: 20px;
}

.right_side {
  display: flex;
  align-items: bottom;
}

.heading_text {
  margin: 0;
  font-family: 'Nunito_Sans_Bold';
  line-height: 38px;
  font-weight: 600;
  font-size: 42px;
}

.subtitle {
  line-height: 22px;
  margin: 24px 0;
  font-size: 18px;
}

.grey_back {
  background-color: #F5F5F5;
  border: 1px solid transparent;
  padding: 0 15%;
}

.section_heading {
  margin: 80px 0;
  text-align: center;
  font-size: 42px;
  font-weight: 600;
  font-family: 'Nunito_Sans_Bold';
}

.card {
  display: flex;
  padding: 0 80px;
  border: 1px solid transparent;
  box-shadow: 0px 4px 19px 0px rgba(117, 117, 117, 0.16);
  border-radius: 10px;
  justify-content: space-between;
}

.card > div > p {
  margin: 0;
}

.card > div {
  width: 50%;
}

.card_heading {
  font-size: 32px;
  font-weight: 600;
  font-family: 'Nunito_Sans_Bold';
}

.card_text {
  font-size: 18px;
  font-weight: 400;
  font-family: 'Nunito_Sans_Light';
}

.line_container {
  position: relative;
}

.line {
  width: 1px;
  height: 1090px;
  border: 0.5px solid black;
}

.line_number {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 1px solid transparent;
  background-color: #92E3A9;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -21px;
}

@media screen and (max-width: 460px) {
  .right_side {
    display: none;
  }
  
  .hideOnMobile {
    display: none;
  }

  .card {
    padding: 0 10%;
  }

  .card_heading {
    font-size: 22px;
  }

  .heading_text {
    font-size: 34px;
  }

  .section_heading {
    font-size: 34px;
    margin: 40px 0;
  }
}